@using Microsoft.AspNetCore.Components.Forms
@using SharedModels.Models


<div>
    <EditForm Model="_form" OnValidSubmit="SubmitForm">
        <div>
            <input type="text" @bind="_form.customDescription"/>
        </div>
        <button type="submit">Submit</button>
        <button @onclick="Cancel">Cancel</button>
    </EditForm>
</div>

@code {
    public Form _form = new();

        [CascadingParameter] BlazoredModalInstance BlazoredAssessmentModal { get; set; } = default!;

        protected override void OnInitialized() => BlazoredAssessmentModal.SetTitle("Enter Custom Description");

        private async Task SubmitForm()
        {
            await BlazoredAssessmentModal.CloseAsync(ModalResult.Ok(_form.customDescription));
        }

        private async Task Cancel() {
            await BlazoredAssessmentModal.CancelAsync();
            }

        public class Form{
            public string? customDescription { get; set; } = string.Empty;
        }

    }