
.grid-container {
    display: grid;
    /*grid-template-columns: auto auto;*/
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.grid-item {
    background-color: #ffffff;
    border: 1px solid rgba(190, 190, 190, 0.8);
    /*box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);*/
    padding: 5px;
    font-size: 30px;
    text-align: center;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.1rem;
    height: 100%;
    width: 100%; 
    overflow-y: scroll;
    margin-bottom: 0%;
    box-sizing: border-box;
}

.lists {
    border: 1px solid rgba(190, 190, 190, 0.8);
    background-color: #ffffff5a;
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 2%;
    font-size: small;
}

.tasks{
    display: flex;
    justify-content: space-between;
}


.default-button{
    background-color: #0072b9;
    border: 1px solid rgba(190, 190, 190, 0.8);
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    color: white;
    height: 30px;
    width: 70px;
}

.default-button:hover{
    background-color: #005C97;
    border: 1px solid rgba(190, 190, 190, 0.8);
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    color: white;
    /*box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);*/
}

.clicked-button:hover{
    background-color: rgb(64, 165, 216);
    border: 1px solid rgba(190, 190, 190, 0.8);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.subject h3{
    font-size: 1.1rem;
    margin-bottom: 4px;
    float: left;
}

.organizer{
    font-size: 0.8rem;
    float: left;
    clear:both;
}

.time{
    font-size: 0.8rem;
    float: right;
}

.cal{
    border: 1px solid rgba(190, 190, 190, 0.8);
    background-color: #ffffff5a;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 2%;
    height: 60px;
}

.cal:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.head{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.body{
    font-size: 0.9rem;
    float: left;
    display: block;
    border: 1px solid rgba(190, 190, 190, 0.8);
    margin-bottom: 2%;
    border-radius: 5px;
    background-color: #ffffff5a;
    padding: 5px;
    width: 100%;
}


.group{
    display: block;
    width: 100%;
}

.email {
    padding: 10px;
    margin: 8px 4px;
    text-align: left;
    border-radius: 5px;
    background-color: #ffffff5a;
    border: 1px solid rgba(190, 190, 190, 0.8);
}

.grid-container .grid-item a { 
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
}

.grid-container .grid-item a:hover { 
    color: rgb(0, 0, 0);
    text-decoration: none; 
}

.grid-container .grid-item a:active { 
    color: rgb(0, 0, 0);
    text-decoration: none; 
}

.email:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 8px 4px;
}

.email h3 {
    font-size: 1.1rem;
    margin-bottom: 4px;
}

.email h4 {
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.email .preview {
    font-size: 13px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.8em;
    line-height: 1.4em;
}

h1 {
    font-size: 65px;
    background: -webkit-linear-gradient(#005C97,#363795);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body{
    font-family: 'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #f7f7f7;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}