


<style>
    
    .left-content {
        float: left;
    }

    .left-contentC {
        float: left;
        text-decoration: line-through;
    }

    .right-content {
        float: right;
    }

    .searchbar{
        width: 100%;
    }

    .searchbar button input[type=submit]{
        background-color: #5680E9;
        border: 1px solid rgba(190, 190, 190, 0);
        border-radius: 3px;
        padding: 5px;
        margin: 5px;
        color: white;
    }

</style>

<div class="searchbar">
            <span class="left-content"><h1>Dashboard</h1></span>
            @* <h3 style="color: #1b6ec2">Search Bar </h3> *@
            <span class="right-content">
                <input type="text" placeholder="Search..." name="search">
                <button type="submit" style="background-color: #5680E9; border-radius: 3px; padding: 5px; margin: 5px; border: 0px;"><i class="oi oi-magnifying-glass" style="color:white;"></i></button>
            </span>
</div>

