<style>
  .searchbar {
    background-image: transparent;
  }

  .searchbar button input[type=submit] {
    background-color: #0078d4;
    border: 1px solid rgba(190, 190, 190, 0);
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    color: black;
  }

  .search-box {
    width: fit-content;
    height: fit-content;
    background-image: transparent;
    position: relative;

  }

  .input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    box-shadow: inset 0 0 0 0 #81de1d;
    transition: box-shadow .3s ease-in-out;
    background-color: #0078d4;
    padding-right: 40px;
    color: black;
  }

  .input-search::placeholder {
    color: #5680E9 font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }

  .btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: black;
    background-color: #0078d4;
    pointer-events: painted;
  }

  .btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #0078d4 transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  .input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #0078d4 transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
</style>

<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<!-- place the search bar on the top right, under the nav -->

<div class="searchbar">
    <span class="right-content">
        <div class="search-box">
              <button class="btn-search"><i class="fa fa-search" style="color:white;"></i></button>
              <input type="text" class="input-search" placeholder="Type to Search...">
         </div>
      </span>

  <div class="search-box">
    <input type="text" class="input-search" placeholder="Search" />
    <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
  </div>

</div>


