@using System.Security.Authentication
@using Microsoft.Graph
@using Microsoft.Graph.Models

@inject GraphSample.Graph.GraphClientFactory clientFactory

<AuthorizeView>
    <Authorized>
        <!-- create a button to jump to todays date -->
        <button class="btn btn-primary me-2" @onclick="JumpToToday">Today</button>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private DateTime start = new DateTime(DateTime.Today.Ticks);
    private DateTime end = new DateTime(DateTime.Today.Ticks);
    private string userTimeZone = string.Empty;

    public async Task JumpToToday()
    {
        var authenticationState = await authenticationStateTask ?? throw new AuthenticationException();
        var user = (await authenticationStateTask).User;
        userTimeZone = user.GetUserGraphTimeZone() ?? "UTC";
        var today = DateTime.Today;
        start = new DateTime(today.Year, today.Month, today.Day, 0, 0, 0);
        end = new DateTime(today.Year, today.Month, today.Day, 23, 59, 59);
    }
}