@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
<style>

    .nav-link {
        text-decoration: none;
        color: #08396F;
        margin-right: 10px;
        font-size: 1.2rem;
        transition: color 0.1s ease-in-out;
    }

        .nav-link:hover {
            color: #81de1d;
            transform: scale(1.2);
        }

    .navbar-ui {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-family: 'Alata', sans-serif;
        font-weight: 400;
        border-radius: 0.5rem;
        padding: 10px 20px;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .navbar-brand img {
        width: 80px;
        height: 50px;
    }

</style>

<AuthorizeView>
    <Authorized>
        <nav class="navbar navbar-expand-lg navbar-ui">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="img/nexus.png" alt="Logo" style="width: 80px; height: 50px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/overview/menu">
                                 Overview
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/calendar">
                                 Calendar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/applicationtracker">
                                CareerTrack
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/SummariseFiles">
                               NotesPro
                            </a>
                        </li>

                        <li class="nav-item">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </li>

                    </ul>
                    <div class="ms-auto">
                        <div class="navbar-text me-3">
                            Welcome @context?.User?.Identity?.Name!
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" role="button" style="color:black;">
                            <img src="@(context.User.GetUserGraphPhoto() ?? "/img/no-profile-photo.png")" class="nav-profile-photo rounded-circle align-self-center mr-2">
                        </a>
                        </div>
                        <div class="dropdown-menu dropdown-menu-end">
                            <h5 class="dropdown-item-text mb-0 white-text">@context?.User?.Identity?.Name</h5>
                            <p class="dropdown-item-text text-muted mb-0 white-text">@context?.User?.GetUserGraphEmail()</p>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item white-text" @onclick="BeginLogout">Log out</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </Authorized>
    <NotAuthorized>
        <div class="right-content-bar">
            <a href="authentication/login" style="color:white;">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateToLogout("authentication/logout");
    }
}

@*TODO
1. Try placing the Universal search bar here and integrate into navbar*@
