@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<style>

    .sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-family: 'Alata', sans-serif;
        font-weight: 400;
        border-radius: 0.25rem;
        padding: 10px 20px;
        background: rgba(255, 255, 255, 0.42);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .navbar-logo {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .navbar-logo img {
        width: 100px;
        margin-right: 10px;
    }

    .navbar-links {
        display: flex;
        align-items: center;
    }

    .navbar-link {
        text-decoration: none;
        color: #08396F;
        margin-right: 20px;
        font-size: 1.3rem;
        transition: color 0.1s ease-in-out;
    }

    .navbar-link:hover {
        color: #81de1d;
    }

    .navbar-icon {
        margin-right: 5px;
    }

</style>

<AuthorizeView>
    <Authorized>


        <nav class="sidebar">
            <a href="" class="navbar-logo">
                <img src="img/binder_RGB_logotype_white_transparent_1135x512.png" alt="Logo" />
            </a>
            <div class="navbar-links">
                <a href="/overview/menu" class="navbar-link">
                    Overview
                </a>
                <a href="/calendar" class="navbar-link">
                     Calendar
                </a>
                <a href="/applicationtracker" class="navbar-link">
                     CareerTrack
                </a>
                <a href="/UniversalSearch" class="navbar-link">
                     Search
                </a>
                <a href="/SummariseFiles" class="navbar-link">
                     NotesPro
                </a>
            </div>
            <div class="right-content-bar">
                <a style="color:white; text-decoration:none;font-size:1rem;"> Welcome @context?.User?.Identity?.Name!</a>
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" style="color:black;">
                    <img src="@(context.User.GetUserGraphPhoto() ?? "/img/no-profile-photo.png")" class="nav-profile-photo rounded-circle align-self-center mr-2">
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <h5 class="dropdown-item-text mb-0 white-text">@context?.User?.Identity?.Name</h5>
                    <p class="dropdown-item-text text-muted mb-0 white-text">@context?.User?.GetUserGraphEmail()</p>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item white-text" @onclick="BeginLogout">Log out</button>
                </div>
            </div>
        </nav>

    </Authorized>
    <NotAuthorized>
        <div class="right-content-bar">
            <a href="authentication/login" style="color:white;">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateToLogout("authentication/logout");
    }
}
