@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
<style>
 
    .navbar-links {
        display: flex;
        align-items: center;
    }

    .nav-link{
        color: white;
        font-size: 1.1rem;
    }
    .navbar-link {
        text-decoration: none;
        color: white !important;
        margin-right: 20px;
        font-size: 1.3rem;
        transition: transform 0.2s ease-in-out;
    }

    .navbar-link:hover {
        color: green;
    }

    .navbar-icon {
        margin-right: 5px;
    }
</style>

<AuthorizeView>
    <Authorized>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0078d4;">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="img/binder_RGB_logotype_white_transparent_1135x512.png" alt="Logo" width="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/overview/menu">
                                <span class="oi oi-cloud navbar-icon" aria-hidden="true"></span> Overview
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/calendar">
                                <span class="oi oi-calendar navbar-icon" aria-hidden="true"></span> Calendar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/applicationtracker">
                                <span class="oi oi-clipboard navbar-icon" aria-hidden="true"></span> CareerTrack
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/UniversalSearch">
                                <span class="oi oi-magnifying-glass navbar-icon" aria-hidden="true"></span> Search
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/SummariseFiles">
                                <span class="oi oi-File navbar-icon" aria-hidden="true"></span> NotesPro
                            </a>
                        </li>
                    </ul>
                    <div class="ms-auto">
                        <div class="navbar-text me-3">
                            Welcome @context?.User?.Identity?.Name!
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" style="color:black;">
                            <img src="@(context.User.GetUserGraphPhoto() ?? "/img/no-profile-photo.png")" class="nav-profile-photo rounded-circle align-self-center mr-2">
                        </a>
                        </div>
                        <div class="dropdown-menu dropdown-menu-end">
                            <h5 class="dropdown-item-text mb-0 white-text">@context?.User?.Identity?.Name</h5>
                            <p class="dropdown-item-text text-muted mb-0 white-text">@context?.User?.GetUserGraphEmail()</p>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item white-text" @onclick="BeginLogout">Log out</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </Authorized>
    <NotAuthorized>
        <div class="right-content-bar">
            <a href="authentication/login" style="color:white;">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateToLogout("authentication/logout");
    }
}
