@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<style>

    body {
       font-family: "Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif";
       font-weight:400;
    }

    .nav-profile-photo {
        width: 32px;
        height: 32px;
    }
    ::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .dropdown-item{
        color: white;
    }

    .dropdown-menu{
        min-width: 10rem;
        background-color: #23387c;
        color-scheme: light;

    }

    .white-text{
        color: white !important;
    }

    .dropdown-divider{
        border-color: white;
    }


    .left-content-bar {
        color: white !important;
        position: absolute !important;
        top: 0 !important;
        padding-left: 20px !important;
        font-size: 2rem !important;
        left: 0 !important;

        /*margin-right: 10px;*/
    }

    .right-content-bar{
        position: absolute !important;
        right: 0 !important;
        padding: 14px;
    }

    .buttons {
        color: white;
        margin-right: 10px;
        border: none;
        background-color: transparent;
    }

    .navbarLink {
        box-shadow: inset 0 0 0 0 #81de1d;
        padding: 0.25rem;
        margin: 0.25rem;
        transition: box-shadow .3s ease-in-out;
        text-decoration: none !important;
        color: white;
        font-size: 1.3rem;
        border-radius: 0.25rem;
    }

    .navbarLink:hover {
        box-shadow: inset 250px 0 0 0 #54b3d6;
        text-decoration: none !important;
    }



</style>

<AuthorizeView>
    <Authorized>

        <div class="left-content-bar">

            <a href="" style="color:white; text-decoration:none;">
                <img src="img/binder_RGB_logotype_white_transparent_1135x512.png" width="100px" />
            </a>

            <a href="/calendar" class="navbarLink">
                <span class="oi oi-calendar" aria-hidden="true"></span> Calendar
            </a>

            <a href="/overview/menu" class="navbarLink">
                <span class="oi oi-cloud" aria-hidden="true"></span> Overview
            </a>

            <a href="/applicationtracker" class="navbarLink">
                <span class="oi oi-clipboard" aria-hidden="true"></span> CareerTrack
            </a>

            <a href="/UniversalSearch" class="navbarLink">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                Search
            </a>

            <a href="/SummariseFiles" class="navbarLink">
                <span class="oi oi-File" aria-hidden="true"></span> NotesPro
            </a>

            <a href="/chat" class="navbarLink">
                <span class="oi oi-comment-square" aria-hidden="true"></span> Chat
            </a>

            <a href="/AiTranscript" class="navbarLink">
                Bandwidth+
            </a>

            @*<a href="/onedrive" class="navbarLink">
                summarize
            </a>*@

            @*<a href="/fileupload" class="navbarLink">
               upload
            </a>*@

        </div>

        <div class="right-content-bar">
            <a style="color:white; text-decoration:none;font-size:1rem;"> Welcome @context?.User?.Identity?.Name!</a>
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" style="color:black;">
                <img src="@(context.User.GetUserGraphPhoto() ?? "/img/no-profile-photo.png")" class="nav-profile-photo rounded-circle align-self-center mr-2">
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <h5 class="dropdown-item-text mb-0 white-text">@context?.User?.Identity?.Name</h5>
                <p class="dropdown-item-text text-muted mb-0 white-text" >@context?.User?.GetUserGraphEmail()</p>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item white-text" @onclick="BeginLogout">Log out</button>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="right-content-bar">
            <a href="authentication/login" style="color:white;">Log in</a>
        </div>
        @* <mgt-login></mgt-login> *@
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateToLogout("authentication/logout");
    }
}
