@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<style>
    .nav-profile-photo {
        width: 32px;
        height: 32px;
    }
    ::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .dropdown-item{
        color: white;
    }
    
    .dropdown-menu{
        min-width: 10rem;
        background-color: #23387c;
        color-scheme: light;
        
    }

    .white-text{
        color: white !important;
    }
    
    .dropdown-divider{
        border-color: white;
    }


    .left-content-bar {
        float: left;
        color: white;
        /*margin-right: 10px;*/
    }

    /*a {
        color: rgb(255, 255, 255);
        font-size: 0.1 rem;
        text-decoration: none;
    }

    a:hover { 
        color: rgb(255, 255, 255);
        text-decoration: none; 
    }

    a:active { 
        color: rgb(255, 255, 255);
        text-decoration: none; 
    }*/

    .buttons {
        color: white;
        margin-right: 10px;
        border: none;
        background-color: transparent;
    }

    .logo{
        float: left;
        top: 0;
        left: 0;    
    }
    

</style>

<AuthorizeView>
    <Authorized>
        <div class="left-content-bar">
            @* <div class="logo">
                <img src="img/binder_RGB_logotype_white_transparent_1135x512.png" width="70px" height="23px">
            </div> *@
            <a href="" style="color:white; text-decoration:none;font-size:1rem;">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </a>

            <a href="/calendar" style="color:white; text-decoration:none;font-size:1rem;">
                <span class="oi oi-calendar" aria-hidden="true"></span> Calendar
            </a>

            <a href="/inbox" style="color:white; text-decoration:none;font-size:1rem;">
                <span class="oi oi-envelope-open" aria-hidden="true"></span> Inbox
            </a>

            <a href="/teams" style="color:white; text-decoration:none;font-size:1rem;">
                <span class="oi oi-people" aria-hidden="true"></span> Teams
            </a>

            <a href="/overview" style="color:white; text-decoration:none;font-size:1rem;">
                <span class="oi oi-cloud" aria-hidden="true"></span> Overview
            </a>

            <a href="/applicationtracker" style="color:white; text-decoration:none;font-size:1rem;">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Application Dashboard
            </a>

            <a href="/fileupload" style="color:white; text-decoration:none;font-size:1rem;">
                <span class="oi oi-clipboard" aria-hidden="true"></span> File Upload
            </a>

        </div>
        <a style="color:white; text-decoration:none;font-size:1rem;"> Welcome @context?.User?.Identity?.Name!</a>
        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" style="color:white;">
            <img src="@(context.User.GetUserGraphPhoto() ?? "/img/no-profile-photo.png")" class="nav-profile-photo rounded-circle align-self-center mr-2">
        </a>
        <div class="dropdown-menu dropdown-menu-end">
            <h5 class="dropdown-item-text mb-0 white-text">@context?.User?.Identity?.Name</h5>
            <p class="dropdown-item-text text-muted mb-0 white-text" >@context?.User?.GetUserGraphEmail()</p>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item white-text" @onclick="BeginLogout">Log out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login" style="color:white;">Log in</a>
        @* <mgt-login></mgt-login> *@
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateToLogout("authentication/logout");
    }
}
