<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT license. -->

@inherits LayoutComponentBase

<style>
    .row-colour{
        background-color: #04163C !important;
    }
</style>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth row-colour">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

