.page {
    position: relative;
    display: flex;
    flex-direction: column;
}


.content {
    width: 100%;
}

.outerSearch {
    max-width: 60vw;
    width: 25vw;
    position: fixed;
    top: 25px;
    left: 50%;
    z-index: 10000;
}