@inherits LayoutComponentBase


<div class="page">
    <main>

        <div class="auth">
            <LoginDisplay />
            <div class="outerSearch">
                <GraphSample.Pages.UniversalSearch />
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

