.page {
    position: relative;
    display: flex;
    flex-direction: column;
}


.content {
    width: 100%;
}

.outerSearch {
    /* put this search bar in line with the nav bar */
    position: absolute;
    top: 15px;
    right: 20rem;
}
