.page {
    position: relative;
    display: flex;
    flex-direction: column;
}


.content {
    width: 100%;
}

.outerSearch {
    /* put this search bar in line with the nav bar */
    position: fixed;
    top: 25px;
    right: 27rem;
    z-index: 10000;
}
